/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face{
    font-family: "garto16";
    src: url("garto16.ttf"); 
}

body {
    font-family: "garto16.ttf";    
}















